/*your custom css goes here*/


/*your custom css goes here*/

@import url('https://fonts.googleapis.com/css2?family=Helvetica&display=swap');

@font-face {
    font-family: 'ThuCung';
    src: url('../fonts/ThuCung-Font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Helvetica', sans-serif;
}

:root {
    --primary-color: #e30613;
    --second-color: #313131;
    --three-color: #5b5b5b;
    --four-color: #ffffff;
    --five-color: #a9a9a9;
    --six-color: #f0f0f0;
    --seven: #f9f9f9;
    --eight: #00C97C;
    --nine: #FDE8E8;
    --ten: #EEE9E9;
    --eleven: #ff202b79;
    --twelve: #e0e6ef;
    --thirteen: #f1f3f5;
    --fourteen: #e53e3e;
    --fifteen: #e6e8eb;
    --sixteen: #6f56d3;
    --seventeen: #5335cb;
    --eighteen: #99a3ae;
    --nineteen: #070707;
}

@keyframes slideIn {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(100%);
    }
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideDownFadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.serviceTop--left {
    gap: 16px;
}

.choose-location--header {
    gap: 6px;
}

.choose-location-text {
    color: var(--second-color)
}

.chooseLocationDeliveryText {
    color: var(--primary-color)
}

.serviceTop--menu {
    gap: 16px;
}

li {
    list-style: none;
}

.serviceTop--menu li a {
    color: var(--three-color);
    font-size: 14px;

}

.serviceTop--menu li a:active,
.serviceTop--menu li a:focus {
    color: var(--primary-color);
}

.serviceTop--menu li:hover a {
    color: var(--primary-color)
}

.category-header--button {
    gap: 3px;
    padding: 0 14px;
    height: 40px;
    min-width: 120px;
    min-height: 40px;

}

.logo-main--text {
    color: var(--primary-color);
    font-family: 'ThuCung';
    font-size: 30px;
    letter-spacing: -0.3px;
    font-weight: 900;
    margin-bottom: 0;
}

.logo-main {
    margin-right: 15px;
}

.category-header--button:hover {
    cursor: pointer;
}

.front-header-search {
    margin: 0 15px;
}

.iconNavRight {
    width: 20px;
    height: 20px;
}

.textNavRight {
    font-size: 14px;
    color: black;
}

.menuRightHeader {
    gap: 4px;
    margin-right: 16px;
}

.productOneDay {
    gap: 24px;
}

.product-card-ads {
    gap: 20px;
}

.price-and-cart {
    margin-bottom: 8px;
}

.price-info {
    gap: 12px;
}

.product-rating {
    margin-bottom: 8px;
}

.rating-count {
    margin-left: 1px;
}

.numberReviews {
    margin-left: 12px;
    gap: 4px;
}

.product-title {
    margin-bottom: 8px;
}

.cart-icon {
    gap: 12px;

}

.product-title:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.cart-icon:hover {
    background-color: var(--fourteen);
}

.cart-icon {
    background-color: var(--primary-color);
    padding: 7px;
    border-radius: 5px;
}

.cart-icon img {
    filter: brightness(0) invert(1);
}

.product__card-title {
    font-size: 14px;
    font-weight: 500;
}

.product__card-title h2:hover {
    color: var(--primary-color) !important;
}

.rating-count {
    font-size: 12px;
    color: #000000;
    font-weight: 500;
}

.numberReviews {
    font-size: 12px;
    color: #000000;
    font-weight: 400;
}

.old-price {
    color: #000000;
    font-size: 12px;
    font-weight: 400;

}

.text-decoration-line-through {
    text-decoration: line-through;
    font-size: 12px;
    font-weight: 500;

}

.product__card-content .new-price {
    font-size: 16px;
    font-weight: 600;
    color: #e30613;
    ;
}

.btn__add-to-cart {
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 5px;
    width: 72px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}

.btn__add-to-cart img {
    filter: invert(1);
    width: 24px;
    height: 24px;
}

.product__badge {
    background-color: #e30613;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 3px 8px;
    text-align: center;
}

.featured__product-card:hover {
    /* border-right: 1px solid var(--fifteen); */
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.container-bannerSlideAds {
    margin-top: 32px;
    gap: 32px;
    max-height: 280px;
    height: 280px;
}


.home-slider {
    padding: 0 !important;
    ;
}

.bannerSliderPrimary {
    width: 934px;
    height: 280px;
}

.footer-title {
    font-size: 15px;
}

.phoneNumberFooter {
    font-size: 24px;
    color: var(--primary-color);
}

.footer-item {
    font-size: 14px;
    color: black;

}

.footer-left--item {
    color: black;
}

.footer-list-menu {
    line-height: 180%;
    gap: 8px;
    display: flex;
    flex-direction: column;
}

.footerContainer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid var(--fifteen);
}

.footerContainerLeft {
    border-right: 1px solid var(--fifteen);

}

.items-FollowUs {
    background: #dcdcdc;
    padding: 6px;
    border-radius: 50%;
}

.followUs--left {
    gap: 8px;
}

.payment--right {
    gap: 8px;
}

.category-section--child {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
}

.aiz-user-top-menu .user-top-nav-element:hover>a,
.aiz-category-menu .category-nav-element:hover>a {
    background-color: #ffffff;
}

.category-section--child span {
    padding-top: 4px;
    display: inline-block;
    font-size: 16px;
    color: black;
}

.category-child--image {
    background-color: var(--thirteen);
    width: 120px;
}

.categoryBodyContainer--title {
    margin-bottom: 16px;
    font-size: 24px;
}

.payMoneyAdsProduct {
    background-color: #FFF5F5;
    gap: 10px;
}

.productOneDay {
    gap: 5px;
}

.icon-xs {
    width: 16px;
    height: 16px;
}

.icon-sm {
    width: 20px;
    height: 20px;
}

.categoryBodyContainer {
    margin-top: 30px;
}

.bannerContainerChild {
    position: relative;
}

.imageBannerAds {
    border-radius: 8px;
}

.payMoneyAds {
    position: absolute;
    top: 6px;
    right: 20px;
}

.payMoneyAds span {
    background-color: rgba(255, 255, 255, 0.48);
    color: rgba(7, 7, 7, 0.32);
    padding: 2px 3px;
    border-radius: 20px;
    font-style: 10px;
}

.bannerBody {
    margin-top: 30px;
}

.smallBannerAds {
    gap: 10px;
}

.adsTitle {
    top: 6px;
    right: 20px;
}

.adsTitle span {
    background-color: rgba(255, 255, 255, 0.48);
    color: rgba(7, 7, 7, 0.32);
    padding: 2px 3px;
    border-radius: 20px;
    font-style: 10px;
}

.text-ellipsis-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.sliderBannerPrimary,
.payMoneyAdsProduct {
    border-radius: 12px;
}


.slick-prev,
.slick-next {
    font-size: 28px;
    color: var(--primary-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-color: var(--four-color) !important;
    border: 1px solid #ffffff;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.slick-prev::before {
    font-family: 'Material Icons';
    content: 'chevron_left';
}

.slick-next::before {
    font-family: 'Material Icons';
    content: 'chevron_right';
}

.slick-prev {
    left: 25px;
}

.slick-next {
    right: 25px;
}

.category-section .category-nav-element:hover category-section--child {
    background-color: none;
}


.search-input {
    outline: none;
    flex-grow: 1;
    border: none;
    height: 100%;
}

.search-wrapper {
    border: 2px solid var(--primary-color);
    background: var(--primary-color);
    height: 40px;
}

.search-btn {
    width: 74px;
    cursor: pointer;
    color: #000;
}

.dropdown-btn {
    background-color: var(--seven);
    height: 100%;
}

.dropdown-btn::after {
    position: relative;
    top: -2px;
}

.rounded-search {
    border-radius: 6px;
}

.show.dropdown-menu {
    top: 8px !important;
}










.red-list-icon {
    display: none;
}

.item-hover:hover .hidden-list-icon {
    display: none;
}

.item-hover:hover .red-list-icon {
    display: block;
}

.item-hover:hover span {
    color: var(--primary-color);
}

.red-notify-icon {
    display: none;
}

.notify:hover .hidden-notify-icon {
    display: none;
}

.notify:hover .red-notify-icon {
    display: block;
}

.notify:hover span {
    color: var(--primary-color);
}

.red-card-icon {
    display: none;
}

.cart-nav:hover .hidden-card-icon {
    display: none;
}

.cart-nav:hover .red-card-icon {
    display: block;
}

.cart-nav:hover span {
    color: var(--primary-color);
}

.red-account-icon {
    display: none;
}

.account-nav:hover .hidden-account-icon {
    display: none;
}

.account-nav:hover .red-account-icon {
    display: block;
}

.account-nav:hover span {
    color: var(--primary-color);
}

.bg-black-10,
.hov-bg-black-10:hover {
    background-color: #ffffff !important;
}

.menuMainNav li:hover a {
    color: var(--primary-color) !important;
}


.product-hover {
    -webkit-mask:
        conic-gradient(from 180deg at top 8px right 8px, #0000 90deg, #000 0) var(--_i, 200%) 0 /200% var(--_i, 8px) border-box no-repeat,
        conic-gradient(at bottom 8px left 8px, #0000 90deg, #000 0) 0 var(--_i, 200%)/var(--_i, 8px) 200% border-box no-repeat,
        linear-gradient(#000 0 0) padding-box no-repeat;
    transition: .3s, -webkit-mask-position .3s .3s;
    border: 1px solid transparent !important;
}

.featured__product-card.product-hover:hover {
    --_i: 100%;
    transition: .3s, -webkit-mask-size .3s .3s;
    border: 1px solid var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.list-hidden-animation {
    overflow: visible !important;
    animation-duration: 0s !important;
    transition-duration: 0s !important;
}

/* product */
.product-container {
    margin: 16px 24px 0px 24px;
    padding: 0px 28px
}

.gap-10 {
    column-gap: 10px;
}

.gap-1 {
    gap: 4px;
}

.gap-2 {
    gap: 8px;
}

.gap-3 {
    gap: 12px;
}

.gap-4 {
    gap: 16px;
}

.gap-5 {
    gap: 20px;
}

.gap-6 {
    gap: 24px;
}

.gap-7 {
    gap: 28px;
}

.gap-8 {
    gap: 32px;
}

.gap-9 {
    gap: 36px
}


.bread-wrapper {
    column-gap: 10px;
}

.bread-wrapper span {
    cursor: pointer;
}

.bread-scrumb--text {
    font-size: 14px;
    color: var(--primary-color);
}

.right-icon {
    width: 13px;
    height: 13px;
    color: var(--eighteen);
    fill: currentColor;
}

.code-wrapper {
    color: var(--eighteen);
}

.code-wrapper span {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.2px;
}

.code-wrapper:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.swiper-container {
    max-height: 100%;
    overflow-y: auto;
    padding: 28px 0px;
}

.swiper-container::-webkit-scrollbar {
    width: 0px;
}

.img-swiper-wrapper {
    width: 56px;
    height: 56px;
    border-radius: 3px;
    border: 2px solid transparent;
    transition: all 0.3s;
    user-select: none;
}

.img-swiper-wrapper:hover {
    border-color: #e3061547;
    cursor: pointer;
}

.img-swiper-wrapper.active {
    border-color: var(--primary-color);
}

.swiper-img {
    width: 48px;
    height: 48px;
    object-fit: cover;
}

.wrapper-banner {
    height: 500px;
    max-height: 500px;
    flex-basis: 58%;
}

.wrapper-active-img {
    border-radius: 20px;
    overflow: hidden;
    user-select: none;
}

.wrapper-active-img>img {
    transition: all 2s;
}

.product-intro {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: .4px;
    line-height: 30px;
    width: 100%;
    color: var(--nineteen);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.product-rate>span {
    color: rgb(0 26 52 / 60%);
    font-weight: 600;
}

.product-rate:hover>span {
    color: var(--primary-color);
    cursor: pointer;
}

.product-question>span {
    color: rgb(0 26 52 / 60%);
    font-weight: 600;
}

.product-question:hover>span {
    color: var(--primary-color);
    cursor: pointer;
}

.product-question:hover>svg {
    color: var(--primary-color) !important;
    cursor: pointer;
}

.flavor-wrapper {
    padding: 8px 16px;
    border: 1.6px solid #f5f7fa;
    color: #f5f7fa;
    outline: none;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

.flavor-wrapper:hover {
    border-color: #e3061547;
}

.flavor-wrapper.active {
    border-color: var(--primary-color);
}

.description-link {
    padding: 2px 6px;
    color: #001a34;
    border-radius: 8px;
    background-color: rgb(0 48 120 / 4%);
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}

.description-link:hover {
    background-color: #dddfe2;
}

.about-description {
    font-size: 20px;
    letter-spacing: 0.4px;
    line-height: 24px;
    font-weight: 700;
}

.about-list {
    display: flex;
    flex-direction: row;
    padding: 12px 0px;
    align-items: center;
}

.about-list span {
    font-size: 14px;
    color: #001a3499;
    width: 50%;
    display: block;
}


.about-list p {
    font-size: 14px;
    color: var(--nineteen);
    width: 50%;
    margin: 0;
    font-weight: 500;
}

.about-list~.about-list {
    border-top: 0.5px solid #ccd6e499;
}

.price-wrapper {
    border-radius: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 20px 12px -16px rgba(0, 30, 85, .1), 0 8px 24px 18px rgba(0, 30, 85, .05);
}

.card-payment:hover button {
    background-color: #0ead43;
}

.card-payment svg {
    margin-left: auto;
    fill: currentColor;
    color: #001a34;
}

.card-payment:hover span,
.card-payment:hover svg {
    color: var(--primary-color);
    transition: all 0.4s;
}

.card-payment-btn {
    background: #10c44c;
    border-radius: 8px;
    color: #fff;
    padding: 2px 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
    border: none;
    transition: all 0.2s;
    outline: none;
}

.installment-wrapper {
    background-color: #0030780a;
    border-radius: 12px;
    padding: 12px;
    cursor: pointer;
}

.installment-wrapper svg {
    color: #ccd6e499;
    margin-left: auto;
    fill: currentColor;
    transition: all 0.4s;
}

.installment-wrapper:hover svg {
    color: var(--primary-color);
}

.add-cart-btn {
    color: white;
    border-radius: 12px;
    padding: 16px 24px;
    font-weight: 500;
    font-size: 16px;
    background-color: var(--primary-color);
    cursor: pointer;
    transition: all 0.2s;
}

.add-cart-btn:hover {
    opacity: 0.8;
}

.add-cart-btn.tomorow {
    background-color: #ffd540;
}

.add-cart-btn~span {
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 16px;
    color: #6e7d8b;
    text-align: center;
}

.heart-btn {
    color: var(--primary-color);
    border-radius: 12px;
    padding: 8px 8px;
    background-color: #c6656c25;
    cursor: pointer;
    height: fit-content;
    transition: all 0.3s;
}

.heart-btn:hover {
    background-color: #c6656b3c;
}

.compare-btn {
    color: #005bff;
    border-radius: 12px;
    padding: 8px 8px;
    background-color: #0096ff14;
    cursor: pointer;
    height: fit-content;
    transition: all 0.3s;
}

.compare-btn:hover {
    background-color: #0095ff2e;
}

.share-btn {
    color: #ffd540;
    border-radius: 12px;
    padding: 8px 8px;
    background-color: rgba(255, 213, 64, 0.3);
    cursor: pointer;
    height: fit-content;
    transition: all 0.3s;
}

.share-btn:hover {
    background-color: #0095ff48;
}


.flex-1 {
    flex: 1
}

.faq-item {
    font-size: 14px;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}

.faq-item:hover {
    opacity: 0.8;
}

.infor-address {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
    cursor: pointer;
}

.address-border {
    border-bottom: 1px solid #ccd6e499;
}

.address-border:hover>div>span:first-child {
    color: var(--primary-color);
    transition: all 0.3s;
}

.address-border>div:nth-child(2)>svg {
    color: #ccd6e499;
    fill: currentColor;
    transition: all 0.3s;
}

.address-border:hover>div:nth-child(2)>svg {
    color: var(--primary-color);
}

.video-demo {
    width: 90px;
    height: 90px;
    border-radius: 8px;
    overflow: hidden;
}

.play-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.sale-wrapper {
    max-width: 75%;
    border: 1px solid #ccd6e499;
    border-radius: 12px;
    display: flex;
    font-size: 14px;
    letter-spacing: .2px;
    padding: 24px;
}

.sale-logo {
    flex-basis: 40%;
    border-right: 1px solid #001a3466;
}

.shoperu-container {
    max-width: 75%;
}

.shoperu-wrapper {
    border-top: 1px solid #ccd6e499;
    cursor: pointer;
    padding: 0 12px;
    cursor: pointer;
    transition: all 0.4s;
}

.shoperu-wrapper:hover {
    background-color: #e3061516;
}

.shoperu-wrapper-item {
    padding: 20px 12px;
    cursor: pointer;
}

.shoperu-wrapper-item.icon {
    min-width: 56px;
    padding-left: 0;
    padding-right: 4px;
    border-radius: 50%;
}

.shoperu-wrapper-item.icon>div>div {
    background-color: #0030780a;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.shoperu-wrapper-item button {
    padding: 6px 12px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-left: auto;
}

.offer-number-btn {
    background-color: #10c44c;
    border-radius: 6px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    padding: 0 6px;
    white-space: nowrap;
    width: fit-content;
}

.offer-number-btn~span {
    color: #10c44c;
    font-size: 14px;
    font-weight: 600;
}

.shop-title:hover {
    color: var(--primary-color);
    transition: all 0.3s;
}

.information-address--name {
    font-size: 15px;
    color: #001a34;
}

.description-container {
    max-width: 75%;
}

.description-heading {
    font-size: 24px;
    font-weight: 700;
    color: var(--nineteen);
}

.description-detail {
    font-size: 14px;
    color: #001a34;
}

.description-li li {
    list-style: disc;
    list-style-position: outside;
    font-size: 14px;
    color: #001a34;
}

.compound-wrapper h3 {
    font-size: 15px;
    color: #001a34;
    font-weight: 700;
}

.compound-wrapper p {
    font-size: 14px;
    color: #001a34;
    font-weight: 500;
}

.Chateristic-divider {
    max-width: 75%;
    /* padding-top: 0px; */
}

.Chateristic-divider span {
    font-size: 11px;
    color: #001a3499;
    line-height: 14px;
    display: inline-block;
}

.Chateristic-divider>div {
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px solid #ccd6e499;
}

.characteristic-grid {
    max-width: 70%;
    display: grid;
    grid-template-rows: repeat(9, minmax(0, 1fr));
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-flow: column;
    row-gap: 24px;
    column-gap: 80px;

}

.characteristic-type {
    font-size: 14px;
    color: #001a3499;
}

.characteristic-value {
    font-size: 14px;
    color: #001a34;
}

.characteristic-value.active {
    color: var(--primary-color);
}

.characteristic-item-wrapper {
    display: flex;
    flex-direction: row;
}

.characteristic-item-wrapper div {
    flex: 1;
    border-bottom: 1px solid rgb(204 214 228 / 60%);
}

.review-nav {
    height: 100%;
    width: 238px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.4px;
    line-height: 30px;
    color: #707f8d;
    cursor: pointer;
    border-bottom: 2px solid #e3061516;
    transition: all 0.2s;
}

.review-nav-container.active {
    color: var(--primary-color)
}

.question-nav-container.active {
    color: var(--primary-color);
}

.review-nav:nth-child(2) {
    width: auto;
    padding: 0px 24px;
}

.review-nav:hover {
    color: var(--primary-color);
}

.active-nav-line {
    position: absolute;
    height: 2px;
    background-color: var(--primary-color);
    bottom: 0px;
    left: 0px;
    width: 238px;
    z-index: 1;
    transition: all 0.2s;
}

.active-nav-line.active {
    left: 238px;
    width: calc(100% - 238px);
}

.preview-number {
    position: absolute;
    top: -6px;
    right: -22px;
    font-size: 12px;
    color: #707f8d;
    font-weight: 500;
}

.question-number {
    position: absolute;
    top: -6px;
    right: -12px;
    font-size: 12px;
    color: #707f8d;
    font-weight: 500;
}

.product-preview-btn {
    align-items: center;
    background-color: #f5f7fa;
    border: 0;
    border-radius: 11px;
    color: #001a34;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 20px;
    margin: 0;
    padding: 8px 16px;
    text-align: center;
    cursor: pointer;
}

.product-preview-btn:nth-child(2) {
    background: var(--primary-color);
    color: #fff;
}

.review-wrapper {
    display: none;
}

.review-wrapper.active {
    display: block;
    display: flex;
    flex-direction: row;
}

.question-wrapper {
    display: none;
}

.question-wrapper.active {
    display: block;
    display: flex;
    flex-direction: row;
    min-height: 500px;
}

.img-avatar-review {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
}

.user-review-name {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--nineteen);
}

.user-review-date {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #001a3499;
}

.user-comment {
    font-size: 15px;
    color: var(--nineteen);
    font-weight: 500;
}

.is-help-you {
    background-color: #0030780a;
    padding: 8px 12px;
    border-radius: 12px;
    transition: all 0.3s;
}

.is-help-you:hover {
    background-color: #dddfe1;
}

.rate-number {
    color: var(--nineteen);
    font-size: 24px;
    font-weight: 700;
}

.rate-icon {
    width: 32px;
    height: 32px;
}

.statistic-text {
    font-size: 14px;
    color: #001a3499;
}

.statistic-number {
    font-size: 14px;
    color: var(--nineteen);
}

.required-review {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .2px;
    color: #001a3499;
}

.question-input {
    color: var(--nineteen);
    background-color: #fff;
}

.question-input:focus {
    border-color: var(--primary-color);
    border-width: 2px;
    outline: 0;
    box-shadow: none;
    color: var(--nineteen);
}

.question-filter-form {
    max-width: 236px;
}

.question-select:focus {
    box-shadow: none;
    border-color: var(--primary-color);
    border-width: 2px;
}

.question-select:hover {
    border-color: var(--primary-color);
}

.help-to-contact {
    color: var(--primary-color);
    text-decoration: none;
}

.help-to-contact:hover {
    color: var(--primary-color);
    text-decoration: none;
}

.question-like-btn {
    color: #070707;
    font-weight: 500;
    cursor: pointer;
    width: fit-content;
    border-radius: 12px;
    background-color: #0030780a;
}

.question-like-btn:hover {
    background-color: #dddfe1;
}

.copy-url:hover {
    color: var(--primary-color);
    transition: all 0.3s;
}

.product-preview-btn:focus {
    outline: none;
}

.card-payment-btn:focus {
    outline: none;
}

.description-detail.shorten {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 0;
}

.description-li.hidden {
    display: none;
}

.see-more {
    display: none;
    color: var(--primary-color);
    cursor: pointer;
    font-weight: 600;
}

.see-more.active {
    display: block;
}

.compound {
    display: flex;
    flex-direction: column;
}

.compound.hidden {
    display: none;
}